In [1]:
%load_ext sql

ID와 PW와 (본인스키마)를 자신의 것으로 변경

In [2]:
%sql postgresql://wnsfuf0121:*****@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: wnsfuf0121@dev'

In [3]:
%%sql

DROP TABLE IF EXISTS wnsfuf0121.name_gender;
CREATE TABLE wnsfuf0121.name_gender (
   name varchar(32),
   gender varchar(8)
);

 * postgresql://wnsfuf0121:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [4]:
import psycopg2

# Redshift connection 함수
# 본인 ID/PW 사용!
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "wnsfuf0121"
    redshift_pass = "*****"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [5]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [6]:
def transform(text):
    lines = text.split("\n")
    return lines

In [7]:
def load(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;DELETE FROM (본인의스키마).name_gender;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');....;END;
    cur = get_Redshift_connection()
    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO wnsfuf0121.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            print(sql)
            cur.execute(sql)

# ✍ 과제1: Colab Python 코드 개선하기
1. 헤더가 레코드로 추가되는 문제 해결하기

In [16]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link);

In [25]:
def transform_2(text, header):
    lines = text.split("\n")
    if header:
        lines = lines[1:]

    return lines

In [26]:
lines = transform(data)
lines_2 = transform_2(data, True)

print(lines[0])
print(lines_2[0]) # 헤더가 제거됨

name,gender
Adaleigh,F

2. Idempotent하게 잡을 만들기 (full refresh잡이라고 가정)
    1. 여러 번 실행해도 동일한 결과가 나오게 만들기

In [42]:
def load_2(lines):
    cur = get_Redshift_connection()
    sql = """
    DROP TABLE IF EXISTS wnsfuf0121.name_gender;
    CREATE TABLE wnsfuf0121.name_gender (
        name varchar(32),
        gender varchar(8)
    );
    """
    cur.execute(sql)

    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            sql = "INSERT INTO wnsfuf0121.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            cur.execute(sql)

    cur.execute("SELECT COUNT(1) FROM wnsfuf0121.name_gender;")
    row_count = cur.fetchone()
    print("Row Count: {0}".format(row_count[0]))

In [43]:
load_2(lines_2)
load_2(lines_2)

Row Count: 100
Row Count: 100

3. (Optional) Transaction을 사용해보기
    1. BEGIN; DELETE FROM ..; INSERT INTO… ;END;

In [51]:
def load_3(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;DELETE FROM (본인의스키마).name_gender;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');....;END;
    cur = get_Redshift_connection()
    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            sql = """
            DELETE FROM wnsfuf0121.name_gender WHERE name='{n}' AND gender='{g}';
            INSERT INTO wnsfuf0121.name_gender VALUES ('{n}', '{g}');
            """.format(n=name, g=gender)
            cur.execute(sql)
    
    cur.execute("SELECT COUNT(1) FROM wnsfuf0121.name_gender;")
    row_count = cur.fetchone()
    print("Row Count: {0}".format(row_count[0]))

In [52]:
load_3(lines_2)
load_3(lines_2)

Row Count: 100
Row Count: 100